<section class="Home">
  <div class="elementor-element">
    <div class="content-one">
      <h4>"Latest in the town"</h4>
      <h3>The New Beauty Collection</h3>
      <h2>Let us pamper you, let your beauty shine</h2>
      <div class="mybutton">
        <button class="btn btn-primary pl-2 pr-2 mx-2 mr-2">Read More</button>
      </div>
    </div>
  </div>

  <!-- <app-card></app-card> -->

<!-- <div class="container carousel-item my-4">
    <div class="row">
      <div *ngFor="let card of servicecard" class="col-md-3">
        <div class="card mb-3">
          <img
            [src]="card.image"
            class="card-img-top"
            alt="{{ card.title }}"
            width="300px"
            height="200px"
          />
          <div class="card-body">
            <span>{{ card.star }}</span>
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="content-two">
    <h4>"Popular products"</h4>
    <h1>Trending Now</h1>
  </div>

  <div class="container my-4">
    <div class="row">
      <div *ngFor="let card of servicecard" class="col-md-3">
        <div class="card mb-3">
          <img
            [src]="card.image"
            class="card-img-top"
            alt="{{ card.title }}"
            width="300px"
            height="200px"
          />
          <div class="card-body">
            <span>{{ card.star }}</span>
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-three">
    <h4>"Shop"</h4>
    <h1>Best Selling</h1>
  </div>

  <div class="container my-4">
    <div class="row">
      <div *ngFor="let card of servicecardone" class="col-md-3">
        <div class="card mb-3">
          <img
            [src]="card.image"
            class="card-img-top"
            alt="{{ card.title }}"
            width="300px"
            height="200px"
          />
          <div class="card-body">
            <span>{{ card.star }}</span>
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="elementor-elementone">
    <div class="content-four">
      <h4>"New Collection"</h4>
      <h3>The beauty collection that makes all the difference!</h3>
      <h2>Order and experience the beauty</h2>
      <div class="mybutton">
        <button class="btn btn-primary pl-2 pr-2 mx-2 mr-2">Shop Now</button>
      </div>
    </div>
  </div>

  <div class="elementor-elementtwo justify-content-between">
    <div class="left-side">
      <div class="content-five">
        <h4>✰ Maya Dhengale ✰</h4>
        <p>
          Elevate your beauty and wellness journey with our exquisite spa
          services. From therapeutic massages to rejuvenating facials, every
          moment is crafted for your bliss.
        </p>
      </div>
    </div>

    <div class="right-side d-flex flex-column">
      <div class="content-five-one">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>

      <div class="content-five-two">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>

      <div class="content-five-three">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="image-home1 d-flex flex-column">
      <p>"Products"</p>
      <h3>For your Skin Care</h3>
      <p></p>
    </div>

    <div class="image-home2 d-flex flex-column">
      <p>"Makeup Kit"</p>
      <h3> For your Beauty</h3>
    </div>
  </div>

  <div class="elementor-elementthree">
    <div class="d-flex ">
     <div class="left-side-box">
      <div class="first-box">
        <p>Why Choose Us</p>
      </div>
      <div class="line">
      </div>
     </div>
    <div class="right-side-box">
      <div class="box">
        <p>Fast Delivery</p>
        <h4>We promise our delivery will be always on time</h4>
      </div>
      <div class="box">
        <p>Free Shipping</p>
        <h4>We promise our delivery will be always free. No other charge</h4>
      </div>
      <div class="box">
        <p>Easy Return</p>
        <h4>We promise you can return or exchange items within  7 Days</h4>
      </div>
    </div>
    </div>
  </div>
 
</section>
