<section class="Home">
  <div class="elementor-element">
    <div class="content-one">
      <h4>"Latest in the town"</h4>
      <h3>The New Beauty Collection</h3>
      <h2>Let us pamper you, let your beauty shine</h2>
      <div class="mybutton">
        <button class="btn btn-primary pl-2 pr-2 mx-2 mr-2">Read More</button>
      </div>
    </div>
  </div>

  <div>
    <div
      id="carouselExampleControls"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-wrapper container-sm d-flex justify-content-around">
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card ti</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card tile</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container-sm d-flex justify-content-around">
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">title</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card-wrapper container-sm d-flex justify-content-around">
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
            <div class="card" style="width: 10rem">
              <img
                src="https://source.unsplash.com/collection/190727/1600x900"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="content-two">
    <h4>"Popular products"</h4>
    <h1>Trending Now</h1>
  </div>

  <div class="container my-4">
    <div class="row">
      <div *ngFor="let card of servicecard" class="col-md-3">
        <div class="card mb-3">
          <img
            [src]="card.image"
            class="card-img-top"
            alt="{{ card.title }}"
            width="300px"
            height="200px"
          />
          <div class="card-body">
            <span>{{ card.star }}</span>
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-three">
    <h4>"Shop"</h4>
    <h1>Best Selling</h1>
  </div>

  <div class="container my-4">
    <div class="row">
      <div *ngFor="let card of servicecardone" class="col-md-3">
        <div class="card mb-3">
          <img
            [src]="card.image"
            class="card-img-top"
            alt="{{ card.title }}"
            width="300px"
            height="200px"
          />
          <div class="card-body">
            <span>{{ card.star }}</span>
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="elementor-elementone">
    <div class="content-four">
      <h4>"New Collection"</h4>
      <h3>The beauty collection that makes all the difference!</h3>
      <h2>Order and experience the beauty</h2>
      <div class="mybutton">
        <button class="btn btn-primary pl-2 pr-2 mx-2 mr-2">Shop Now</button>
      </div>
    </div>
  </div>

  <div class="elementor-elementtwo justify-content-between">
    <div class="left-side">
      <div class="content-five">
        <h4>✰ Maya Dhengale ✰</h4>
        <p>
          Elevate your beauty and wellness journey with our exquisite spa
          services. From therapeutic massages to rejuvenating facials, every
          moment is crafted for your bliss.
        </p>
      </div>
    </div>

    <div class="right-side d-flex flex-column">
      <div class="content-five-one">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>

      <div class="content-five-two">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>

      <div class="content-five-three">
        <h4>✰ ✰ ✰ ✰ ✰</h4>
        <p>
          Step into a world of serenity and sophistication. Our beauty spa
          promises an unparalleled experience, blending advanced treatments with
          holistic relaxation.
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="image-home1 d-flex flex-column">
      <p>"Latest in the town"</p>
      <p></p>
    </div>

    <div class="image-home2 d-flex flex-column">
      <p>"Latest in the town"</p>
    </div>
  </div>

 
</section>
