<!-- <app-skindashboard></app-skindashboard> -->

<section class="banner">
    <div class="col-md-6 myimg">
      <img src="../../../../../assets/image/FacialMen.webp" />
    </div>
    <div class="col-md-6 myheading">
      <h2>Skin Facial Men</h2>
      <p>
        Style your hair with the best hands. At naturals, we create nice looks for
        all events. Be a show-stopper at all events with our “go-to hairdressers.”
        Keep it short and make the tagline simple Make a salon slogan with rhythm,
        catchy quotes, and a ring. Be consistent A slogan should be trendy and
        meaningful Include catchy phrases in the slogan
      </p>
      <button class="price">Price</button>
    </div>
  </section>
  
  <section class="banner">
    <div class="col-md-6 myimg">
      <img src="../../../../../assets/image/DetanMen.webp" />
    </div>
    <div class="col-md-6 myheading">
      <h2>Detan Men</h2>
      <p>
        Style your hair with the best hands. At naturals, we create nice looks for
        all events. Be a show-stopper at all events with our “go-to hairdressers.”
        Keep it short and make the tagline simple Make a salon slogan with rhythm,
        catchy quotes, and a ring. Be consistent A slogan should be trendy and
        meaningful Include catchy phrases in the slogan
      </p>
      <button class="price">Price</button>
    </div>
  </section>



  