<!-- <footer>
    <section class="foot">
      <div class="st">
        <p>Quick link</p>
        <p>Our services</p>
        <p>Contact us</p>
        <p>Get in touch</p>
      </div>
  
      <div class="sp">
        <p routerLink="/" routerLinkActive=" ">Home</p>
        <p routerLink="/hairdashboard" routerLinkActive=" ">Hair Care</p>
        <p>Groom india salon and spa pvt ltd</p>
        <p>+918830908246</p>
      </div>
      <div class="sq">
        <p routerLink="/a" routerLinkActive=" ">AboutUs</p>
        <p routerLink="/skindashboard" routerLinkActive=" ">SkinCare</p>
        <p>Block no.23, Shetakari nagar,Chikhalgaon,Wani-445304</p>
        <p>care@Rupshrungar.in</p>
      </div>
  
      <div class="sm">
        <p>Contact Us</p>
        <p routerLink="/bodydashboard" routerLinkActive=" ">BodyCare</p>
        <p>Rupshrungar@gmail.com</p>
      </div>
    </section>
  
    <section class="bottomline">
      <div class="bt">
        <span>© 2024 Rupshrungar. All rights reserved</span>
        <span>Website by Bhushan</span>
      </div>
      <div class="btm">
  
      </div>
  
    </section>
  </footer> -->