<!-- <app-hair-dashboard></app-hair-dashboard> -->

<section class="banner">
  <div class="col-md-6 myimg">
    <img src="../../../../../assets/image/mens-hair-cut1.jpg" />
  </div>
  <div class="col-md-6 myheading">
    <h2>Hair Cut</h2>
    <p>
      Style your hair with the best hands. At naturals, we create nice looks for
      all events. Be a show-stopper at all events with our “go-to hairdressers.”
      Keep it short and make the tagline simple Make a salon slogan with rhythm,
      catchy quotes, and a ring. Be consistent A slogan should be trendy and
      meaningful Include catchy phrases in the slogan
    </p>
    <button class="price">Price</button>
  </div>
</section>

<section class="banner">
  <div class="col-md-6 myimg">
    <img src="../../../../../assets/image/Beard_for him.jpg" />
  </div>
  <div class="col-md-6 myheading">
    <h2>Beard Trim</h2>
    <p>
      Style your hair with the best hands. At naturals, we create nice looks for
      all events. Be a show-stopper at all events with our “go-to hairdressers.”
      Keep it short and make the tagline simple Make a salon slogan with rhythm,
      catchy quotes, and a ring. Be consistent A slogan should be trendy and
      meaningful Include catchy phrases in the slogan
    </p>
    <button class="price">Price</button>
  </div>
</section>

<section class="banner">
  <div class="col-md-6 myimg">
    <img src="../../../../../assets/image/Hair_colour_for men.jpg" />
  </div>
  <div class="col-md-6 myheading">
    <h2>Hair colour</h2>
    <p>
      Hairstyles shine and luster with good chemical free colours. Give that
      dash of spunk with our super friendly services. Keep it short and make the
      tagline simple Make a salon slogan with rhythm, catchy quotes, and a ring.
      Be consistent A slogan should be trendy and meaningful Include catchy
      phrases in the slogan
    </p>
    <button class="price">Price</button>
  </div>
</section>



