<nav class="navbar navbar-expand-lg navbar-light bg-white">
        <img src="../../../../assets/image/Logo_Rup.png" width="100px" height="90px">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/a" routerLinkActive="active">AboutUs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/hairdashboard" routerLinkActive="active" >Hair Care</a>
            <a class="dropdown-item" routerLink="/bodydashboard" routerLinkActive="active" >Body Care</a>
            <a class="dropdown-item" routerLink="/skindashboard" routerLinkActive="active" >Skin Care</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>



<!-- routerLink="/" routerLinkActive="active" -->