<section class="mybanner">
  <div class="rightside">
    <!-- <h2>Radiant, Rejenevuting and replenishing haircare service</h2> -->
  </div>
</section>
<br /><br />

<section>
  <div class="mytext">
    <p>Rupshrungar- Creating Experiences with Businesses</p>
  </div>
</section>

<section class="banner2">
  <div class="myimg1">
    <img src="../../../../assets/image/momimg.jpg" width="40px" height="40" />
  </div>

  <div class="myheading1">
    <h2>Creating a Beautiful World</h2>
    <p>
      Rupshrungar was conceived with the idea of the modern Indian. Founded by
      Maya Dhengale, whose knowledge of the international beauty industry
      pioneered a new era in the hair and beauty care industry in India,
      Naturals has made a path-breaking change in the way the beauty industry
      has been perceived.
    </p>
    <p>
      So in the early 2000s, she made that dream a reality by setting up her
      first salon in Wani. It took her only a while to understand the market
      potential and the ever-increasing demand for professional grooming. since
      then, the Naturals team has been able to meet every challenge in this
      competitive industry.
    </p>
  </div>
</section>
<br /><br />

<div class="myhead">
  <h1>Milestone over the years</h1>
</div>

<section class="mile">
  <div class="para">
    <p>2000- Started small salon at home</p>
  </div>
  <div class="para">
    <p>2001- Started small salon in spa out-let</p>
  </div>
  <div class="para">
    <p>2004- Started training center for students</p>
  </div>
  <div class="para">
    <p>2008- Awarded by johnson's company</p>
  </div>
  <div class="para">
    <p>2015- started 3 store franchises</p>
  </div>
  <div class="para">
    <p>2022- still gathering the experience from the people</p>
  </div>
  <div class="para">
    <p>2024- spreading network to district level</p>
  </div>
</section>

<section class="banner2">
  <div class="myimg1">
    <img src="../../../../assets/image/Aboutusimg.jpg" width="40px" height="40" />
  </div>

  <div class="myheading1">
    <h2>Milestones Over The Years</h2>
    <p>
      The modern Indian woman has many responsibilities, from caring for her
      family to meeting deadlines at work. Every woman needs a place to escape.
      Naturals is that place for women. It is an oasis to detox, rejuvenate and
      relax!
    </p>
    <p>
      With two decades of experience, Naturals has revolutionized the beauty and
      franchising industry with over 650+ salons spread across India. We are
      happy about the fact that Naturals has created 400 women franchise
      partners and trained over 10000 staff. Thanks to our 30 lakh+ customers!
    </p>
    <p>Because when you look good, you feel good!</p>
  </div>
</section>
<br /><br />

<div class="myhead">
  <h1>To Helping Women Be Boundless</h1>

  <h6>
    Revolutionising the beauty world is not possible without starting from home.
    Naturals’ entrepreneurial opportunities for women have opened doors to many
    budding businesswomen. Our approach provides the support for each franchisee
    to start a business without any hassles.
  </h6>
  <h6>
    At Naturals, we believe in financial independence for women and have
    empowered 400 women to become entrepreneurs in the past 22 years. Our dream
    is to create a housewife-free India, where women are encouraged to earn
    their living by pursuing their passion. By 2025, Naturals aims to create
    3000 salons, empower 2000 women entrepreneurs and create 1,00,000 jobs,
    because there is no better style statement than standing on your own feet.
  </h6>
  <h6>Come, join our Naturals family!</h6>
</div>

<div>
    <button class="price" (click)="joinus()">Join Us</button>
</div>
<br><br>

<!-- <footer>
    <section class="foot">
      <div class="st">
        <p>Quick link</p>
        <p>Our services</p>
        <p>Contact us</p>
        <p>Get in touch</p>
      </div>

      <div class="sp">
        <p routerLink="/" routerLinkActive=" ">Home</p>
        <p routerLink="/hairdashboard" routerLinkActive=" ">Hair Care</p>
        <p>Groom india salon and spa pvt ltd</p>
        <p>+918830908246</p>
      </div>
      <div class="sq">
        <p routerLink="/a" routerLinkActive=" ">AboutUs</p>
        <p routerLink="/skindashboard" routerLinkActive=" ">SkinCare</p>
        <p>Block no.23, Shetakari nagar,Chikhalgaon,Wani-445304</p>
        <p>care@Rupshrungar.in</p>
      </div>

      <div class="sm">
        <p>Contact Us</p>
        <p routerLink="/bodydashboard" routerLinkActive=" ">BodyCare</p>
        <p>Rupshrungar@gmail.com</p>
      </div>
    </section>

    <section class="bottomline">
      <div class="bt">
      <span>© 2024 Rupshrungar. All rights reserved</span>
      <span>Website by Bhushan</span>
      </div>
      <div class="btm">
        
      </div>  
      
    </section>
  </footer> -->